* {
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
}

header {
  background-color: rgb(0, 0, 0);
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: orange;
  font-size: 15pt;
  padding: 15px 100px;
}

body {
  background-color: rgb(23, 23, 23);
}

.main {
  padding-left: 200px;
  padding-top: 200px;
  color: white;
  min-height: 80vh;
  background: url(—Pngtree—children\ s\ software\ programming_5401259.png)
    no-repeat;
  align-items: center;
  background-size: 500px;
  background-position-x: 80%;
  background-position-y: 150px;
}
.web {
  font-size: 30pt;
}

.me {
  font-size: 13pt;
  color: orange;
}

.button {
  font-size: 17pt;
  background-color: rgb(5, 116, 15);
  width: 200px;
  height: 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 2px solid white;
  font-family: Cambria, Cochin, Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif, Times, "Times New Roman", serif;
  font-weight: 100;
  text-decoration: none;
  transition: 0.7s ease;
  color: white;
}

.button:hover {
  background-color: rgb(6, 193, 21);
  transform: scale(1.1);
  border-color: rgb(208, 208, 208);
}

.button2 {
  font-size: 17pt;
  background-color: #7289da;
  width: 90px;
  height: 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 2px solid white;
  font-family: Cambria, Cochin, Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif, Times, "Times New Roman", serif;
  font-weight: 100;
  text-decoration: none;
  transition: 0.7s ease;
  color: rgb(75, 0, 145);
}

.button2:hover {
  background-color: rgb(105, 26, 179);
  transform: scale(1.1);
  border-color: rgb(208, 208, 208);
  color: #7289da;
}

.button3 {
  font-size: 17pt;
  background-color: rgb(0, 0, 0);
  width: 90px;
  height: 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 2px solid white;
  font-family: Cambria, Cochin, Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif, Times, "Times New Roman", serif;
  font-weight: 100;
  text-decoration: none;
  transition: 0.7s ease;
  color: rgb(0, 0, 0);
  color: white;
  margin-left: 20px;
}

.button3:hover {
  background-color: rgb(67, 67, 67);
  transform: scale(1.1);
  border-color: rgb(208, 208, 208);
}

.contaner {
  display: flex;
}

.def {
  color: orange;
}

.informations {
  min-height: 100vh;
  background-color: rgb(41, 41, 41);
}
.title {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 30pt;
  margin-bottom: 100px;
  padding-top: 100px;
}

.inform {
  display: flex;
}

.title1 {
  color: rgb(0, 255, 26);
  font-size: 20pt;
}

.p1 {
  color: #fff;
  font-size: 15pt;
  border: 4px solid orange;
  border-radius: 10px;
  width: 530px;
  padding: 20px;
  margin-left: 125px;
}
.title2 {
  color: rgb(0, 255, 26);
  font-size: 20pt;
}

.p2 {
  color: #fff;
  font-size: 15pt;
  border: 4px solid orange;
  border-radius: 10px;
  width: 530px;
  padding: 20px;
  margin-left: 100px;
  background: url(java-script.png) no-repeat;
  background-size: 200px;
  background-position-x: 90%;
  background-position-y: 50%;
}

.items {
  padding-left: 20px;
  font-size: 19pt;
}
.footer {
background-color: black;
width: 100%;
color: white;
font-size: 20pt;
padding-left: 100px;
  padding: 15px 100px;
}
.name {
color: orange;
}